.card-registro{
    background-color:#f4f8fb;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fondo{
    position: absolute;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/intro-bg.jpg");
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Stray_calico_cat_near_Sagami_River-01.jpg/640px-Stray_calico_cat_near_Sagami_River-01.jpg"); */
    width: 100%;
    height: 100%;
    background-size: cover;
                 
}

.boton-login{
    padding: 10px 30px 10px 30px;
    text-align: center;
}
.boton-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo-login{
    width: 40%;
    margin: 20px;
}

#box{
    /* margin: auto;
    width: 100%; */
    
}