.flex-row{
    display: flex;
}

.label-form{
    padding: 5px;
    width: 30%;
}

.input-form{
    width: 100%;
}

#btn-iu:active{
    background-color: #4373c5;
}
#btn-iu{
    background-color: #4373c5;
    color: white;
}
#btn2-iu{
    /* background-color: white; */
    color: gray;
}


.equis{
    position: absolute;
    right: 0;
    margin: 0px 20px 10px 10px;
    color:white;
}

.modal{
    /* border: #4373c5 solid 2px; */
}

.header-modal{
    background-color: #4373c5;
    
}
.title-modal{
    color: white;
}
.body-modal{
    background-color: #e9e5e6;
}
.footer-modal{
    background-color: #e9e5e6;
}