.iconos{
    /* margin-right: 10px; */
    /* display:inline-block;
    vertical-align:top; */
}
.p-link{
    /* clear: left;
  text-align: right;
  vertical-align: middle;
  line-height:25px; */
}

.link-menu{
    display: flex;
    /* display: inline-block;
  border: dotted 1px red;
  padding: 5px;
    color: rgb(117, 121, 121);
    background-color: rgb(48, 52, 51);
    border-radius: 20px; */
}
/* .link-menu:hover{
    background-color:rgb(46, 45, 44);
} */
/* .link-menu:active{
    background-color: aquamarine;
} */
