.body-registro{
    background-color: #f4f8fb;
}
.boton-agregar{
    padding: 1px 5px 1px 5px;
    margin-left: 5px;
}

.tr-table th{
    text-align: center;
    background-color: #5a9bd5;
    color: white;
}
#tr1-table {
    text-align: center;
    background-color: #d2ddef;
    color: black;
}
#tr1-table:hover {
    text-align: center;
    background-color: #c2ccdd;
    color: black;
}

#tr2-table {
    text-align: center;
    background-color: #eaeef7;
    color: black;
}
#tr2-table:hover {
    text-align: center;
    background-color: #ced1db;
    color: black;
}

.error{
    color:red;
    font-size: 10px;
    text-align: center;
}

.icons{
    display: flex;
    color: #3f5263;
}

.icon{
    color: #113e65;
}
.icon:hover{
    color: #1a619f;
}


#boton-download{
    background-color:#fcffff;
    color:#233251;
}
#boton-download:hover{
    background-color:#e4e4e4;
}
#boton-download:disabled{
    color:#233251;
}

#boton-ver{
    background-color:#fcffff;
    color:#233251;
}
#boton-ver:hover{
    background-color:#e4e4e4;
}
#boton-ver:disabled{
    color:#233251;
}

#btn-registro{
    color: #233251;
    position: absolute;
    right: 0;
    
    margin: 0px 40px 0px 0px;
}

.text-footer{
    color: gray;
}